.card{
    border: 5px solid yellow;
    border-radius: 20px;
  }
  .button{
    text-align: center;
  }
.btn-primary {
    background-color: black !important;
    color: yellow;
    align-items: center;
}
.btn-primary:hover{
color: white;
}