.boxA{
width: 50%;
margin-top: 15px ;
margin-bottom: 15px ;
background-color: #FFD;
border-style: dashed;
border-color: #F4A460;
border-width: 5px;
padding: 1.5em;
text-align: justify;
}
.boxB{
width:25em;
border-style: double;
border-top:10px darkslategrey;
border-bottom:10px darkslategrey;
background-color: #DFF;
padding-left: 20px;
padding-right: 20px;
padding-top: 2em;
padding-bottom: 2em;
margin-top:  2em;
margin-right:  2em;
margin-left:2em ;
margin-bottom: 20px;
}
.boxC{ 
margin-left:500px;
margin-right:150px ;
margin-top: 2em;
margin-bottom: 1em;
border-style: ridge;
border-width:1em;
border-color: lightsalmon;
padding:30px;
background-color: burlywood;
}